{% extends 'layouts/layout.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include 'layouts/admin-menu.twig' %}
        <main class="col py-3">
        <section class="container-fluid col-md-8 justify-content-center mt-5 mb-5 text-center">
            <h1>Erreur</h1>
            <h2>&#128056;</h2>
        </section>
        <section class="container-fluid mt-5 mb-5 pt-5 col-11 col-sm-8 col-md-6 col-lg-4">
            <h3 class="mb-5">La suppression de l'article a échoué</h3>
            <a {% autoescape %}href="{{ constant('SITE_ADRESS') }}/adminDashboard"{% endautoescape %}><button class="btn btn-success mt-5 mb-5">Veuillez recommencer</button></a>
        </section>
    </main>    
{% endblock %}