{% extends 'layouts/layout.twig' %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row">
        {% include 'layouts/admin-menu.twig' %}
        <main class="col-md-8 ms-sm-auto col-lg-9 col-xl-10 p-0" style="height: 100vh;">
            <div class="container-fluid container-md p-5">
                <h1>Modifier catégorie</h1>
                <form enctype="multipart/form-data" {% autoescape %}action="{{ constant('SITE_ADRESS') }}/adminCategory/updateProcess/{{ id }}"{% endautoescape %} method="POST" class="row g-3">
                    <fieldset disabled>
                        <div class="col-12">
                            <label for="disabledTextInput" class="form-label">Nom actuel</label>
                            <input type="text" id="disabledTextInput" class="form-control" {% autoescape %}placeholder="{{ category }}"{% endautoescape %}>
                        </div>
                    </fieldset>
                    <div class="col-12">
                        <label for="title" class="form-label">Nouveau nom</label>
                        <input type="text" class="form-control shadow" id="title" name="category">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>  
{% endblock %}