{% extends 'layouts/layout.twig' %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row">
        {% include 'layouts/admin-menu.twig' %}
        <main class="col-md-8 ms-sm-auto col-lg-9 col-xl-10 p-0 bg-secondary" style="height: 100vh;">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid d-flex flex-column flex-md-row-reverse">
                    <button class="mb-2 mb-md-0 d-md-none btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span> <span class="text-white"> Admin</span>
                    </button>
                </div>
            </nav>
            <div class="p-5">
                <h1>Dashboard</h1>
            </div>
        </main>
    </div>
</div>  
{% endblock %}