{% extends 'layouts/layout.twig' %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row">
        {% include 'layouts/admin-menu.twig' %}
        <main class="col-md-8 ms-sm-auto col-lg-9 col-xl-10 p-0" style="height: 100vh;">
            <div class="p-5">
                <h1>Dashboard</h1>
            </div>
        </main>
    </div>
</div>  
{% endblock %}