<h1>Bienvenue parmis les membres de la communauté Over_Blog</h1>
<p>Vous povez désormais liker ou commenter les articles et signaler des commentaires malveillants</p>
<a {% autoescape %}href="{{ constant('SITE_ADRESS') }}"{% endautoescape %}>
    Retour à l'accueil
</a>