{% extends 'layouts/layout.twig' %}

{% block title %}
    <title>{{ constant('SITE_NAME') }} - Inscription refusée</title>
{% endblock %}

{% block body_class %} class="home min-vh-100"{% endblock %}

{% block content %}
    <main class="pt-5 pb-5">
        <section class="container-fluid col-md-8 justify-content-center mt-5 mb-5 text-center">
            <h1>Erreur</h1>
            <h2>&#128056;</h2>
        </section>
        <section class="container-fluid mt-5 mb-5 pt-5 col-11 col-sm-8 col-md-6 col-lg-4">
            <h3 class="mb-5">Nous sommes au regret de vous informer que votre demande d'inscription a été refusée.</h3>
            <a {% autoescape %}href="{{ constant('SITE_ADRESS') }}/#contact"{% endautoescape %}><button class="btn btn-success mt-5 mb-5">Contacter l'administrateur</button></a>
        </section>
    </main>    
{% endblock %}