{% extends 'layouts/layout.twig' %}

{% block title %}
    <title>{{ constant('SITE_NAME') }} - Inscription refusée</title>
{% endblock %}

{% block content %}
    <main>
        <h1>Oops !</h1>
        <p>Nous sommes au regret de vous informer que votre demande d'inscription a été refusée.</p>
    </main>
{% endblock %}