{% extends 'layouts/layout.twig' %}

{% block title %}
    <title>{{ constant('SITE_NAME') }} - Inscription en attente de confirmation</title>
{% endblock %}

{% block content %}
    <main>
        <h1>Formidable !</h1>
        <p>Vous avec reçu un mail de validation, confirmez votre inscription dans les 20 minutes.</p>
        <p>Passé ce délai, le lien ne sera plus valide.</p>
    </main>
{% endblock %}