#---own---
db/test*
public/images/avatar/pack.txt
test/
.env
README.md

#---last---
public/images/logo3.png
public/images/logo60px.png
#controllers/client/articlesController.php
#controllers/client/articleController.php
controllers/client/portfolioController.php
public/uploads/*.jpg
views/client/portfolio*
#public/css/*.css

#---third---
#composer.phar
vendor/
composer.json
composer.lock