#---own---
test/
.env
public/images/logo3.png
public/images/logo60px.png
public/uploads/*.jpg
doc/*

#---PHPDoumentor
phpDocumentor.phar
phpdoc.dist.xml
.phpdoc/

#---composer---
vendor/
composer.lock