#---own---
db/test*
public/images/avatar/pack.txt
test/
.env
README.md

#---last---
public/images/logo3.png
public/images/logo60px.png
controllers/client/portfolioController.php
public/uploads/*.jpg
views/client/portfolio*
#public/css/*.css
doc/*
#controllers/client/userController.php

#---third---
#composer.phar
vendor/
composer.json
composer.lock