<IfModule mod_rewrite.c>

    RewriteEngine On

    RewriteRule ^([a-zA-Z0-9\-\/]+)jeton-([a-z0-9]+) index.php?url_params=$1&token=$2
    RewriteRule ^([\w\-\/]*)$ index.php?url_params=$1

</IfModule>