{% if admin == true %}
    {% autoescape %}
        <a class="nav-link" href="{{ constant('SITE_ADRESS') }}/admin/dashboard/{{ uriToken }}">
            <button type="button" class="btn btn-danger">
                <i class="bi bi-lightning-fill"></i> GO TO ADMIN
            </button>
        </a>
    {% endautoescape %}
{% endif %}