<footer>
    <div class="container-fluid bg-marine text-white">
        <div class="row">
            <p class="text-center" style="margin-top: 30px;">social</p>
        </div>
        <div class="row">
            <ul class="list-inline text-center" style="margin-bottom: 30px;">
                <li class="list-inline-item">
                    <a href="./" class="text-white" style="text-decoration: none;">Accueil</a>
                </li>
                <li class="list-inline-item">&middot;</li>
                <li class="list-inline-item">
                    <a href="#" class="text-white" style="text-decoration: none;">RGPD</a>
                </li>
                <li class="list-inline-item">&middot;</li>
                <li class="list-inline-item">
                    <a href="#" class="text-white" style="text-decoration: none;">admin</a>
                </li>
            </ul>
        </div>
    </div>
</footer>