<footer>
    <div class="container-fluid bg-dark text-white">
        <div class="row">
            <p class="text-center">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
                <a href="#"><i class="bi bi-github"></i></a>
            </p>
        </div>
        <div class="row">
            <ul class="list-inline text-center" style="margin-bottom: 30px;">
                <li class="list-inline-item">
                    <a href="./" class="text-white" style="text-decoration: none;">Accueil</a>
                </li>
                <li class="list-inline-item">&middot;</li>
                <li class="list-inline-item">
                    <a href="#" class="text-white" style="text-decoration: none;">RGPD</a>
                </li>
                <li class="list-inline-item">&middot;</li>
                <li class="list-inline-item">
                    <a href="#" class="text-white" style="text-decoration: none;">admin</a>
                </li>
            </ul>
        </div>
    </div>
</footer>