{% if session is defined %}
<a class="nav-link log-btn" href="{{ constant('SITE_ADRESS') }}/membres/deconnexion">
    <button type="button" class="btn btn-success">
        <i class="bi bi-person-circle"></i> déconnexion
    </button>
</a>
{% else %}
    <a class="nav-link log-btn" href="{{ constant('SITE_ADRESS') }}/membres/inscription-connexion">
        <button type="button" class="btn btn-success">
            <i class="bi bi-person-circle"></i> inscription-connexion
        </button>
    </a>
{% endif %}