{% extends 'layouts/layout.twig' %}

{% block title %}
    <title>{{ constant('SITE_NAME') }} - Récupération de compte</title>
{% endblock %}

{% block content %}
    <main>
        <section class="container mt-5 mb-5 pt-5">
            <div class="text-center">
                <h1>Récupération de compte</h1>
                <h4>Ce processus nous permet de vérifier que le compte vous appartient</h4>
            </div>
        </section>
        <section class="container mt-5 mb-5 pt-5">
            <form {% autoescape %}action="{{ constant('SITE_ADRESS') }}/membres/resetPasswordEnquiry"{% endautoescape %} method="POST" class="form-dark">
                <div class="mb-3">
                <label for="email" class="form-label">Votre adresse email</label>
                <input type="email" class="form-control" id="email" aria-describedby="email" name="email">
                </div>
                <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="notRobot">
                <label class="form-check-label" for="notRobot">Je ne suis pas un robot</label>
                </div>
                <button type="submit" class="btn btn-primary mb-5">Envoyer</button>
            </form>
        </section>
    </main>
{% endblock %}