{% extends 'layouts/layout.twig' %}

{% block title %}
    <title>{{ constant('SITE_NAME') }} - Récupération de compte</title>
{% endblock %}

{% block body_class %} class="home min-vh-100"{% endblock %}

{% block content %}
    <main class="pt-5 pb-5">
        <section class="container-fluid col-md-8 justify-content-center mt-5 mb-5 text-center">
                <h1>Récupération de compte</h1>
                <p class="green-txt mt-3">Mot de passe correctement réinitilisé</p>
                <h2 class="green-txt"><i class="bi bi-bookmark-check"></i></h2>
        </section>
        <section class="container-fluid mt-5 mb-5 pt-5 col-11 col-sm-8 col-md-6 col-lg-4">
            <h3>vous pouvez dès à présent vous  connecter à votre compte.</h3>
        </section>
    </main>    
{% endblock %}