{% extends 'layouts/layout.twig' %}

{% block title %}
    <title>{{ constant('SITE_NAME') }} - Récupération de compte</title>
{% endblock %}

{% block content %}
    <main>
        <section class="container mt-5 mb-5 pt-5">
            <div class="text-center">
                <h1>Récupération de compte</h1>
                <h4>Ce processus nous permet de vérifier que le compte vous appartient</h4>
            </div>
        </section>
        <section class="container mt-5 mb-5 pt-5">
            <h3>Vérifiez vos e-mails</h3>
            <p>Nous avons envoyé un lien pour réinitialiser votre mot de passe, à l'adresse mail que vous nous avez indiqué.<br />
            Celui-ci ne sera valide que 15 minutes. Au delà, vous devrez recommencer le processus de récupération de compte.
            </p>            
        </section>
        <section class="container mt-5 mb-5 pt-5">
            <h3>Si vous n’avez pas reçu votre e-mail de réinitialisation</h3>
            <p>Lorsque vous déclarez avoir oublié votre mot de passe, nous vous envoyons un e-mail pour vous permettre de  réinitialiser votre mot de passe. Si vous ne parvenez pas à trouver cet e-mail, suivez les étapes ci-dessous.</p>
            <ol>
                <li>
                    <h4>Recherchez l’e-mail</h4>
                    <p>Vous pouvez effectuer une recherche rapide de l’e-mail en fonction de son expéditeur, « Over_code Team » en l’occurrence. Si le message n’apparaît pas dans votre boîte de réception, recherchez-le dans vos autres dossiers. Si un filtre de courrier indésirable ou une règle de messagerie a déplacé l’e-mail, celui-ci peut se trouver dans le dossier Spam, Indésirable, Corbeille, Éléments supprimés ou Archive.</p>
                </li>
                <li>
                    <h4>Assurez-vous de consulter le compte de messagerie approprié</h4>
                    <p>Si vous recherchez un e-mail de réinitialisation de mot de passe, assurez-vous de consulter la boîte de réception du compte de messagerie associé à votre profil Over_Code.</p>
                </li>
                <li>
                    <h4>Renvoyer l’e-mail</h4>
                    <p>Pour envoyer un nouvel e-mail de réinitialisation, répétez les étapes de réinitialisation de votre mot de passe. Nous enverrons alors un nouvel e-mail à l’adresse indiquée.</p>
                </li>
                <li>
                    <h4>Assurez-vous de pouvoir recevoir des e-mails</h4>
                    <p>Si vous ne recevez aucun e-mail, contactez votre fournisseur de messagerie pour obtenir une assistance.</p>
                </li>
            </ol>            
        </section>
        <section class="container mt-5 mb-5 pt-5">
            <p>Si vous avez la moindre question, contactez nous via le formulaire de contact présent en page d'accueil. Nous serons ravi de vous répondre.</p>
        </section>
    </main>
{% endblock %}