{% extends 'layouts/layout.twig' %}

{% block title %}
    <title>{{ constant('SITE_NAME') }} - Récupération de compte</title>
{% endblock %}

{% block content %}
    <main>
        <section class="container mt-5 mb-5 pt-5">
            <div class="text-center">
                <h1>Récupération de compte</h1>
            </div>
        </section>
        <section class="container mt-5 mb-5 pt-5">
            <p>Votre mot de passe a été correctement réinitilisé.</p>
            <p>vous pouvez dès à présent vous  connecter à votre compte.</p>
        </section>
    </main>
{% endblock %}