{% extends 'layouts/layout.twig' %}

{% block title %}
    <title>{{ constant('SITE_NAME') }} - Récupération de compte</title>
{% endblock %}

{% block content %}
    <main>
        <section class="container mt-5 mb-5 pt-5">
            <div class="text-center">
                <h1>Récupération de compte</h1>
                <h4>Réinitialisation de votre mot de passe</h4>
            </div>
        </section>
        <section class="container mt-5 mb-5 pt-5">
            <form {% autoescape %}action="{{ constant('SITE_ADRESS') }}/membres/updatePassword/{{ tokenToUri }}"{% endautoescape %} method="POST" class="form-dark">
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Votre adresse e-mail</label>
                    <input type="text" id="disabledTextInput" class="form-control" {% autoescape %}placeholder="{{ email }}"{% endautoescape %}>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Veuillez saisir votre nouveau mot de passe</label>
                    <input type="text" class="form-control" id="password" aria-describedby="password" name="password">
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirmez votre mot de passe</label>
                    <input type="text" class="form-control" id="confirm_password" aria-describedby="confirm_password" name="confirm_password">
                </div>
                <button type="submit" class="btn btn-primary mb-5">Envoyer</button>
            </form>
        </section>
    </main>
{% endblock %}